body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0e68c; /* Light yellow background for the whole page */
}

#title {
    font-family: 'Black Ops One', sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    background-color: lightyellow;
    width: 10000px; /* Ensure the title spans full width of the container */
    padding: 0px;
}

#container {
    width: px;
    display: flex;
    flex-direction: column;
    background-image: url('https://raw.githubusercontent.com/luckyykat/a2/main/Poliigon_StoneQuartzite_BaseColor.jpg');
    background-size: cover;
    background-position: center;
    padding: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
  
      
  
}

.row {
    display: flex;
}

.white, .black {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white {
    background-color: #ffffff;
}

.black {
    background-color: #787878;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#footer {
    width: 10000px; /* Match the width of the title and container */
    background-color: lightyellow;
    text-align: center;
    padding: 10px 0; /* Reduced padding to make footer less stretched */
    margin-top: 5px;
